.topbar {
    width: 100%;
    display: flex;
    margin: 1rem 0;
    align-items: center;
}

.topbar .search {
    width: 80%;
    height: 45px;
    display: flex;
    gap: 0;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.topbar .search button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.topbar .search input {
    width: 98%;
    outline: none;
    border: none;
    padding: 1rem;
    padding-left: 0;
    font-size: 16px;
}

.topbar .account {
    width: 20%;
    padding-right: 3rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5px;
}

.topbar .account .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.topbar .account .user button {
    all: unset;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid;
}

.topbar .account span {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}